[Unit]
Description=bettercap api.rest service.
Documentation=https://bettercap.org
Wants=network.target

[Service]
Environment="LD_LIBRARY_PATH=/usr/local/lib/"
Type=simple
ExecStart=/usr/bin/bettercap-launcher
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
